
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a href="https://www.w3schools.com">Visit W3Schools</a>
src Attribute
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F818740407237912427%2F&psig=AOvVaw27jWJmlhQrf3MgTovtA51q&ust=1681228778412000&source=images&cd=vfe&ved=0CBIQjhxqFwoTCNjt4bTXn_4CFQAAAAAdAAAAABAE " width="100" hight="100"</img>
<img src="https: //www.w3schools.com/images/img_girl.jpg "width="50" hight="50"</img>

Paragraphs

<h2>Short Story</h2>
<p>Here is a list of best short stories for kids. KathaKids presents the best stories from Indian Mythology & Folklore. We present stories from cool characters like Tenali Raman and also from folktales like Panchatantra and Katha Sarit Sagar. We also have stories from Indian Mythology which includes Lord Krishna’s stories, stories from Ramayana & Mahabharata and stories of our lovable Gods Ganesha & Shiva.</p>
Tables


<h2 style="background-color:DodgerBlue;">Timetable</h2>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<table style="width:100%">
    <tr>
        <th>Breakfast</th>
        <th>Lunch</th>
        <th>Dinner</th>
    </tr>
    <tr>
        <td> idly,sambar</td>
        <td>rice,dal</td>
        <td>chapathi,cury</td>
    </tr>

</table>
<br />
<h2> TR elements define table rows</h2>
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Adress</th>
    </tr>
    <tr>
        <td>nandhini</td>
        <td>21@09</td>
        <td>gujarat</td>
    </tr>
</table>
<br />



<h1 style="border: 1px solid Tomato;">Hello World</h1>

<h1 style="border: 2px solid DodgerBlue;">Good Morning</h1>

<h2>Kushal's favoritse Food</h2>

Ordered List
<ol>
    <li>Pizza</li>
    <li>Burger</li>
    <li>chiken</li>
</ol>
Unordered List
<ul>
    <li>Pizza</li>
    <li>Burger</li>
    <li>chiken</li>
</ul>

 Forms
<form action="/Voters">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="Nandhini"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="CH"><br><br>
    <label for="lname">Email:</label><br>
    <input type="text" id="lname" name="lname" value="2246"><br><br>
    <label for="lname">Date:</label><br>
    <input type="text" id="lname" name="lname" value="11-04-2023"><br><br>
    <label for="lname">:</label><br>


    <input type="submit" value="Submit">

</form>




