@model Category
@{
    ViewData["Title"] = "Edit";
}


<body style=" background-color :turquoise">

    <h1>Delete category item </h1>

    <form method="post" asp-controller="Category" asp-action="Delete">
        <div class="mb-3">
            <lable class="form-label">Name</lable>
            <input type="text" class="form-control" asp-for="Name" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
            <lable class="form-label">DisplayOrder</lable>
            <input type="text" class="form-control" asp-for="DisplayOrder" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary" me-3>Delete</button>
            <a class="btn btn-primary" asp-controller="Category" asp-action="Index"> Back to index page </a>

        </div>
    </form>
</body>


