
@{
    ViewData["Title"] = "Bmw";
}

<h1>Bmw</h1>
<img src="/Images/car.jpg" width="100"hight="120"/>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name=" author" content="Dave Gray">
        <meta name="description" content="This page contains all the things I am learning how to create as I learn HTML.">
        <title>My first web page</title>
        <link rel="icon" href="html5.png"type="image/x-icon">
        <link rel=" stylesheet"href="main.css" type="text/css">
        <style>
            html{
                font-size: 22px
            }

            body{
                background-color:#333;
                color:aquamarine;
            }
        </style>
    </head>
</html>

<body>
    <h1>Hello World!</h1>
    <h1>My Goals for the</h1>
    <hr>
    <nav>
        <ul>
            <li>
            <a href="#html">Learning HTML</a>
            </li>
            <li>
            <a href="#vacation">planning a
             Vacation</a>
            </li>
        </ul>
    </nav aria-labledby ="primary - navigation" >
      <h2 id="Primary Navigation"">Primary Navigation</h2>
    <hr>
    <h2>Iam ready to learn Html</h2>
    <p>This is my first web page.</p>
    

  

    <h3>My Daily schedule</h3>
    <p>Let me tell you how :


        <br>&nbsp;&nbsp;&nbsp..larn more about web dev.
        <br>&nbsp;.&nbsp;I&nbsp....plane out my schedule.
        <br>&nbsp;&nbsp;&nbsp;... I use resource from MDN.
    </p>

    <hr>
   
    <header>

    <h2>I Am Also planning a vacation</h2>
    <p>I've been working hard and <em>really need getwy</em>.</p>
    <p>I live in KS so I want visit a beach.</p>
    <p>I live in <abbr title="kansan"</abbr>so I want to a beach.</p>

    <h2>Iam ready to go office</h2>
    <p>This is my first web page.</p>
    


    <h3>My Daily schedule</h3>
    <p>Let me tell you how I...</p>


    <ol>
        <li>...I want to learn car driving</li>
        <li>...We are planning to go our village</li>
        <li>...I use resource from <a
            title="Mozilla Develop Network">
            <a> href="http://developer.mozilla.
                org/">MDN</a>
                </abbr>.</li>
            </li>
    </ol>
    <section>

    <h3>Place I'd Link to Visit</h3>
    <ul>
   <li><p>I've heard good things about the Caribbean.</p></li>
   <li><p>I've heard good things about going here.</p>
   </header>
             
     <img src="/Images/beach.jpg" width="400" hight="225" />


               
               
    <main>
    <address>
       I-502,Bakeri Swara apartment,maneja crossing, Near to ERDA <br />
       pin: 98023<br />
       ph: 8234471234
    </address>
    </li>
    </ul>
    <hr/>
    <!--TODO:Add more place-->
    <h3>I places want to Avoid</h3>
    <dl>
        <dt>North pole</dt>
        <dd>I hear this is <strong>cold</
         strong></dd> 

         <dt> south pole</dt>
          <dd> This is also cold.</dd>

        <dt>Mountain Tops</dt>
        <dd> These aer also cold.</dd>
    </dl>
    <p>
    </section>
    </main>
        Anywhere cold.<strong> No way! </strong></p>
        <code>&lt;h1&gt;Hello world!&gt;</code>
    <hr />   
    <hr>
    <footer>
    &lt; &lt; &lt;&copy Dave Gray &gt; &gt; &gt;
    &lt; &lt; &lt;&copy <a href="about.html">Dave
    Gray </a> &gt; &gt; &gt;
    <p>
        <a href="#">Back to Top</a>
    </p>
    </footer>
 </body>

</html>


<html>

<ol>
    <li>
        <a>href="Mozilla Develop Network"><a href=""MDN</a>
            

    </li>
</ol>
</html>

body{
    font- size:22px;
    font-family: Arial,Helvetic


a {
    color: aliceblue;
}
a:visitted{
    color: lightgray;
}

a: hover,a:active{
    color:#eee;
}


<article>
    <section>
        <h3>HTML5</h3>
    </section> 
<aside>
    <details>
        <summary>Guess the<mark></article> number of 
        
         hours</mark>I code per day</summary>
         <p>I start at 8 am I wrte for 3 hours every morning.</p>
         <ph>I start at <time
         datetime = "09:00"></time>9 am and I write code for<time
         datetime ="pT3H"><3
         hours </time>every
         morning.</ph>
    </details>
</aside>

@*<br>
<table>
    <tr>
        <td>
            <time datetime ="11:00">11am</
                time >-<time
                datetime="12:00">12pm</time>
        </td>
        <td> Eat lunch</td>
        *@
   @* </tr>
    <tr>
        <td>
            <time datetime=" 12:00">12pm</*@
     @*       time>-</time
            datetime="17:00">5pm</time>
        </td>
        <td>Study for other courses</td>
    </tr>
    <td rowspan="2"onstalled="2">All other
        Times </td>
        <td>Free Time </td>
        </tr>
        <tr>
            <td>Sleep</td>
        </tr>
        <tr>
            <td colspan="2">And that's what 
            I do every day ,5 days a week.
            Just eat ,sleep, code..and 
             reacharge!</td>
        </tr>
    
    </td>
</table>
<head>
<style>*@
   <hr>
   <article id=" contact">
       <h2>Contact Me</h2>
       <p>I'd really like to hear from you!</p>
        <from action="http://httpbin.org/get"
    method="get">
    <p>
<lable for ="firstName">First Name:</lable>
<input type ="text" name="firstName"
id ="firstName"> placeholder="Jane"
autocomplete="on" requried
 autofocus>
</p>
<p>
 <lable for ="lastName">Last Name:</lable>
<input type ="text name="lastName"
id ="lastName"> placeholder="Done"
autocomplete="on" requried

 </p>


 <p>
 <lable for ="password">password:</lable>
<input type ="password"name="password"
id ="password" placeholder="your secret"
required>

 </p>

  <p>
 <lable for ="phone">phone:</lable>
<input type ="tel"name="phone"
id ="phone" placeholder="555555555"
 pattern=" [0-9]{3}[0-9]{3}[0-9]{4}"
 required>
   </p>

   <p>
 <lable for ="decade">Favor Decade:</
  lable>
<input type ="number"name="decade"
id ="decade" min="1950" max="2020"
step="10" value="1980">
 </p>

 <p>
     <label>for="coffee">Favorite coffe:</ label>
      <select name="coffee" id=" coffee" multiple size="5">
          <optgroup lable="Coffees">
          <option value="regular
           coffee"> Regular coffee</option>
           <option value ="i ced coffee"> Iced
         coffee </option>
         </optgroup>
         <optgroup lable ="Espresso Drinks">
         <option value ="latte"></option>
         <option 
             value ="cappuccino">Cappuccion</option>
             <option value ="americano">Americano</option> 
              <option></option> 
              </optgroup>
              <option value="other">other</option>
              
              
              <detalist>
              <!-->
                  <lable for ="coffee">Favorite coffee</lable
                  <input type ="text" name="coffee" id="coffee" list="coffee-list">
                  <datails id ="coffee-list"> 
                  <option value ="coffee"></option>
                  <option  value="latte"></option>
                  <option value ="espresso"></option>
                  <option value ="cortado"></option>
                   <option value ="americano"></option>
                   <option value="other"></option>
                   </fieldest>
                 </datalist>
                 <br>
                 <fieldest>
                     <legend>what is your favorite food?</legend>
                     <p>
                         <input type ="radio" name ="food" id="tacos" value="tacos">
                         <lable for ="tacos">Tacos</lable>
                    </p>

                      <p>
                         <input type ="radio" name ="food" id="pizza" value="pizza">
                         <lable for ="pizza">pizza</lable>
                    </p>
                      <p>
                         <input type ="radio" name ="other" id="other" value="other">
                         <lable for ="other">other</lable>
                    </p>
                 </fieldest>
                 <br>
                 <fieldest>
                     <legend>Do you have pets?</legend>
                     <p>
                         <input type ="checkbox" name="pets" id="dog" value="dog">
                         <lable for ="dog">Dog</lable>
                    </p>
                     <p>
                         <input type ="checkbox" name="pets" id="cat" value="cat">
                         <lable for ="cat">Cat</lable>
                    </p>

                     <p>
                         <input type ="checkbox" name="otherpets" id="dog" value="otherdog">
                         <lable for ="otherpet">Otherpet</lable>
                    </p>
                 </fieldest>
                 <br>
                 <fieldest>
                     <legend>Send Me A Note</legend>
                      <lable for ="message">your Message:</lable>
                      <br>
                      <textarea name="message" id="message" cols="30" rows="10"
                       placeholder="Type your message here"></textarea>

                 </fieldest>
                 <br>
                 <button type ="submit">Submit</button>
                 <button type "submit"formaction="https://httpbin.org/post"
                 formaction="post"Post</button>
                 <button type ="reset">Reset</button>


                 <html lang="en">
                     <head>
                         <meta charset=UTF-8">
                         <meta name ="author" content = "Rama">
                         <meta name ="description" content="The offical website for The
                             Little Taco shop">
                         <title>The Little Taco Shop</title>
                         <link rel= "icon" href="faviocon.ico"type="image/x-icon">
                         <link rel="stylesheet"href="css/style.css">
                     </head>
                     <body>
                         <headder>
                             <h1>welcome to The Taco Shop</h1>
                             <nav>
                                 <ul>
                                     <li>
                                         <a href="#menu""#about"About <abbr title="the Little
                                         Taco Shop">LTS</abbr></a>
                                     </li>
                                       <li>
                                         <a href="#menu">html">Our Menu</a>
                                     </li>
                                     <li>
                                         <a href="hours.html">Store Hours</a>
                                     </li>
                                     <li>
                                         <a href="contact.html">Coneact Us</a> 
                                     </li>
                                 </ul>
                             </nav>
                             <figure>
                                     <img src="/Images/Tacos.jpg" width="200" hight="125" alt=Tacos and a Drink
                                     title="we love tacos!"/>
                               <figcaption>
                                   Tacos and a Drink
                               </figcaption>
                             </figure>
                         </headder>
                         <hr>
                         <main>
                             <!--our content-->
                         </main>
                         <hr>
                         <footer>
                             <p>Copyright &copy; The Little Taco Shop</p>
                         </footer>
                     </body>

                 </html>
                   <headder>
                           <head>
                         <meta charset=UTF-8">
                         <meta name ="author" content = "Rama">
                         <meta name ="description" content="Contact information for The
                             Little Taco shop">
                         <title>Contact Us - LTS </title>
                         <link rel= "icon" href="faviocon.ico"type="image/x-icon">
                         <link rel="stylesheet"href="css/style.css">
                     </head>
                             <h1>The Little Taco Shop Hours</h1>
                             <nav>
                                 <ul>
                                     <li>   <li>
                                         <a href="/"> Home </a>
                                     </li>
                                         <a href="#about"About <abbr title="the Little
                                         Taco Shop">LTS</abbr></a>
                                     </li>
                                       <li>
                                         <a href="#menu">html">Our Menu</a>
                                     </li>
                                     <li>
                                         <a href="hours.html">Store Hours</a>
                                     </li>
                                     <li>
                                         <a href="contact.html">Coneact Us</a> 
                                     </li>
                                 </ul>
                             </nav>
                             <figure>
                                     <img src="/Images/l.jpg" width="100" hight="125" alt=Tacos and a Drink
                                     title="we love tacos!"/>
                               <figcaption>
                                   Tacos and a Drink
                               </figcaption>
                             </figure>
                         </headder>
                         <hr>
                         <main>
                             <!--our content-->
                         </main>
                         <hr>
                         <footer>
                             <p>Copyright &copy; The Little Taco Shop</p>
                         </footer>

      </select

 </p>
 </from>
   </article>


   
         



     

   

   
   











